<!DOCTYPE html>

<title>Progression</title>

{% block body %}
    <h1>Progression</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ progression.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ progression.statut }}</td>
            </tr>
            <tr>
                <th>Progression</th>
                <td>{{ progression.progression }}</td>
            </tr>
            <tr>
                <th>Date_completion</th>
                <td>{{ progression.dateCompletion ? progression.dateCompletion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_progression_index') }}">back to list</a>

    <a href="{{ path('app_progression_edit', {'id': progression.id}) }}">edit</a>

    {{ include('progression/_delete_form.html.twig') }}
{% endblock %}
