<!DOCTYPE html>

<title>Coupon index</title>

{% block body %}
    <h1>Coupon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Discount</th>
                <th>ExpiresAt</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coupon in coupons %}
            <tr>
                <td>{{ coupon.id }}</td>
                <td>{{ coupon.code }}</td>
                <td>{{ coupon.discount }}</td>
                <td>{{ coupon.expiresAt ? coupon.expiresAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ coupon.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ coupon.createdAt ? coupon.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ coupon.updatedAt ? coupon.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_coupon_show', {'id': coupon.id}) }}">show</a>
                    <a href="{{ path('app_coupon_edit', {'id': coupon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_coupon_new') }}">Create new</a>
{% endblock %}
