<!DOCTYPE html>

<title>Coupon</title>

{% block body %}
    <h1>Coupon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coupon.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ coupon.code }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ coupon.discount }}</td>
            </tr>
            <tr>
                <th>ExpiresAt</th>
                <td>{{ coupon.expiresAt ? coupon.expiresAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ coupon.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ coupon.createdAt ? coupon.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ coupon.updatedAt ? coupon.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_coupon_index') }}">back to list</a>

    <a href="{{ path('app_coupon_edit', {'id': coupon.id}) }}">edit</a>

    {{ include('coupon/_delete_form.html.twig') }}
{% endblock %}
