{% extends 'front/base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ order.customer }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ order.total }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ order.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('order_index') }}" class="btn btn-primary">Back to list</a>
    <a href="{{ path('order_edit', {'id': order.id}) }}" class="btn btn-warning">Edit</a>
    <form method="post" action="{{ path('order_delete', {'id': order.id}) }}" style="display:inline-block;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
        <button class="btn btn-danger">Delete</button>
    </form>
{% endblock %}
